.cast-container {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-bottom: 20px;

}

.cast-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: #665d79;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cast-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cast-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cast-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}